@import "../../style/variables.scss";

.list-char {
  cursor: pointer;
  background-color: $cardColor;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

  img{
    width: 100%;
  }

  &-name{
    font-size: 18px;
  }
  &-species{
    color: aliceblue;
  }
  &-gender{
    color: aquamarine;
  }
  &-location{
    color: beige;
  }
  &-origin{
    color: rgb(16, 87, 90);
  }
}

.list-char:hover{
  transform: scale(1.1);
}
