@import '../../style/variables.scss';


.header{
    // height: 100px;
    width: 100%;
    background-color: $headerColor;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-head{
        z-index: 0;
        width: 6%;
        rotate: 11deg;
        animation: shake 2s infinite alternate forwards;
    }

    &-rick{
        height: 100%;
        width: 13%;
    }

    &-sign{
        height: 100%;
        width: 25%;
    }




}

@keyframes shake {
    from{
        transform: rotate(-21deg);
    }

    to{
        transform: rotate(11deg);
    }
}