@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: rgb(200,255,189);
    background: linear-gradient(167deg, rgba(200,255,189,1) 6%, rgba(10,167,0,1) 80%);
    
    margin: 0 auto;
    width: 1440px;
}