@import  '../../style/variables.scss';

.footer{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $headerColor;

    &_morty{
        width: 6%;
        rotate: 11deg;
        animation: shake 2s infinite alternate forwards;
    }

    &_rick{
        height: 100%;
        width: 13%;
    }

    &_logo{
        height: 100%;
        width: 25%;
    }

}

@keyframes shake {
    from{
        transform: rotate(-21deg);
    }

    to{
        transform: rotate(11deg);
    }
}